.contenedor{
    background-color: rgb(144, 211, 250);
}
h1{
    color: rgb(169, 18, 18);
    margin-left: 40%;
    height: 50px;
    font-weight: 700;
    text-shadow: 2px  1px 2px black,
               1px  1px 1px black,
              -2px  1px 2px black,
               2px -1px 2px black;
}
h2{
    height: 30px;
}
.nom_libros{
    background-color: rgb(198, 249, 170);
    margin-left: 47%;
    height: 50px;
    border-radius: 10%;
}
.datos{
    background-color: rgba(0, 139, 190, 0.904);
}

