
<template>

<h2>lista de deudores:</h2>
<h4>Acosta Peñafiel Jorge Alexander</h4>
</template>
<script>

        /*color de las letras*/
        document.fgColor="white";
        /*fondo color gris*/
        document.bgColor="gray";
        /*titulo*/
        
        document.write("<H2>Lista de deudores:</H2>")
        
        document.write("<H3>Acosta Peñafiel Jorge Alexander</H3>")
        /*abrir ventana*/
        var botonabrir= document.createElement("button");
        botonabrir.id="botonabrir";
        botonabrir.innerText="ver deuda"
    
        botonabrir.onclick=
    
function(){
    /*medidas de la ventana emergentee*/
        var ventana = window.open("", "", "width=700,height=500");
        /*nommbre*/
        ventana.document.write("<H1>Acosta Peñafiel Jorge Alexander <H2>");
            ventana.document.write("<h3> Cedula: 1327392817 <h3>");
                ventana.document.write("<h3>Residencia: km 4/2 tras de cosase <H3>");
                    ventana.document.write("<h3>Telefono: 0983788829<h3>");
            ventana.document.write("<h3>Libro alquilado: LUNA DE PLUTON <h3>");
                ventana.document.write("<h3>Plazo del libro gratis: 10/9/2022 <h3>");
                ventana.document.write("<h3> Valor a pagar: $37.10 <h3>");
            /*boton cerrar*/
        var cerrarventana= document.createElement("button");
        cerrarventana.id="boton-cerrar";
        cerrarventana.innerText="Cerrar ventana"
        cerrarventana.onclick= function(){
        ventana.window.close();}
        ventana.document.body.appendChild(cerrarventana);
}
        document.body.appendChild(botonabrir);

//json
        const deudo = `[
    {
    "dedudor": "Acosta Peñafiel Jorge Alexander",
    "cedula": "1327392817",
    "cantidad": 37.10
    }
    ]`



    console.log (typeof deudo);

const jsonData = JSON.parse(deudo);
console.log(typeof jsonData);

const deudores = jsonData.filter(
    (plata) => plata.cantidad > 1
);

console.log (deudores);
//
const newdeudo = JSON.stringify(deudores);
console.log(typeof newdeudo);


      </script>




<style>
body{
    margin: 0;
    padding: 0;
    background: url(./assets/fondogris.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
</style>
